<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229366378420-hkecfncg42ba19gnjir411v28s85mcn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229366378420-hkecfncg42ba19gnjir411v28s85mcn3</string>
	<key>API_KEY</key>
	<string>AIzaSyCtz11yvLziiyw4o7bT6WfNpCxD6AR6X0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>229366378420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.fiet.routine.mobile</string>
	<key>PROJECT_ID</key>
	<string>fietmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>fietmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229366378420:ios:bbd6cf48babdf47d95cce1</string>
</dict>
</plist>